<?xml version="1.0"?>
<config>
    <modules>
        <Valid_Zipcode>
            <version>1.0.0</version>
        </Valid_Zipcode>
    </modules>
    <frontend>
        <routers>
            <zipcode>
                <use>standard</use>
                <args>
                    <module>Valid_Zipcode</module>
                    <frontName>zipcode</frontName>
                </args>
            </zipcode>
        </routers>
        <layout>
            <updates>
                <zipcode>
                    <file>zipcode.xml</file>
                </zipcode>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<zipcode>
				<use>admin</use>
				<args>
					<module>Valid_Zipcode</module>
					<frontName>zipcode</frontName>
				</args>
			</zipcode>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<zipcode module="zipcode">
				<title>Requested Zipcode</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="zipcode">
						<title>Manage Requested Zipcode</title>
						<sort_order>0</sort_order>
						<action>zipcode/adminhtml_zipcode</action>
					</items>
				</children>
			</zipcode>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Valid_Zipcode>
							<title>Zipcode Module</title>
							<sort_order>10</sort_order>
						</Valid_Zipcode>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<zipcode>
					<file>zipcode.xml</file>
				</zipcode>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <zipcode>
                <class>Valid_Zipcode_Model</class>
                <resourceModel>zipcode_mysql4</resourceModel>
            </zipcode>
            <zipcode_mysql4>
                <class>Valid_Zipcode_Model_Mysql4</class>
                <entities>
                    <zipcode>
                        <table>zipcode</table>
                    </zipcode>
                </entities>
            </zipcode_mysql4>
        </models>
        <resources>
            <zipcode_setup>
                <setup>
                    <module>Valid_Zipcode</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zipcode_setup>
            <zipcode_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zipcode_write>
            <zipcode_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zipcode_read>
        </resources>
        <blocks>
            <zipcode>
                <class>Valid_Zipcode_Block</class>
            </zipcode>
        </blocks>
        <helpers>
            <zipcode>
                <class>Valid_Zipcode_Helper</class>
            </zipcode>
        </helpers>
    </global>
</config>