<?xml version="1.0"?>
<config>
  <modules>
    <Lifesotware_Cusoterreg>
      <version>0.1.0</version>
    </Lifesotware_Cusoterreg>
  </modules>
  <global>
    <helpers>
      <cusoterreg>
        <class>Lifesotware_Cusoterreg_Helper</class>
      </cusoterreg>
    </helpers>
	<models>
	  <cusoterreg>
		<class>Lifesotware_Cusoterreg_Model</class>
		<resourceModel>cusoterreg_mysql4</resourceModel>
	  </cusoterreg>
	</models>
	<resources>
	  <customerattribute1462861882_setup>
		<setup>
		  <module>Lifesotware_Cusoterreg</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1462861882_setup>
	  <customerattribute1462861882_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1462861882_write>
	  <customerattribute1462861882_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1462861882_read>
	</resources>
  </global>
</config> 