<?xml version="1.0"?>
<config>
    <modules>
        <Webduo_Quicksale>
            <version>1.0.0</version>
        </Webduo_Quicksale>
    </modules>
    <frontend>
        <routers>
            <quicksale>
                <use>standard</use>
                <args>
                    <module>Webduo_Quicksale</module>
                    <frontName>quicksale</frontName>
                </args>
            </quicksale>
        </routers>
        <layout>
            <updates>
                <quicksale>
                    <file>quicksale.xml</file>
                </quicksale>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <quicksale>
                <use>admin</use>
                <args>
                    <module>Webduo_Quicksale</module>
                    <frontName>quicksale</frontName>
                </args>
            </quicksale>
        </routers>
    </admin>
    
	<global>
        <blocks>
            <quicksale>
                <class>Webduo_Quicksale_Block</class>
            </quicksale>
        </blocks>
        <models>
            <quicksale>
                <class>Webduo_Quicksale_Model</class>
            </quicksale>
        </models>
        <helpers>
            <quicksale>
                <class>Webduo_Quicksale_Helper</class>
            </quicksale>
        </helpers>
	    <resources>
            <quicksale_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </quicksale_write>
            <quicksale_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </quicksale_read>
        </resources>
    </global>

	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<quicksale translate="title" module="quicksale">
											<title>Quicksale</title>
										</quicksale>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>